@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-4 mx-4 titleText">
    <h1 class="display-5 fw-semibold mb-2">
        Personnel Directory Web Application
    </h1>

    <h5>
        Instant access to the numbers you need, when you need them.
    </h5>
  
   
    <img src="~/img/KJS (1).png" class="img-fluid p-0  mb-3 mt-0" alt="KJS Logo" />
</div>

